include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/search_tweaks *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/search_tweaks/migration *.ini *.py *.mako
